$color-txt:gray;
$li-txt:"120%";
ul.header{
	display: flex;
    width: 100%;
}
ul.header li{
	
	list-style-type: none;
}

ul.header1{
	
	padding-left: 0px;
    margin-left: auto;
    display: flex;
}

ul.header1 li{
	margin-left: 20px;
    margin-top: 80px;
}

ul.header1 li a{
	text-decoration: none;
	color: $color-txt;
	font-size: $li-txt;

}



li.heading-link{
	margin-left: 32px;
    margin-top: 80px;

}

li.heading-link a{
	text-decoration: none;
	color: $color-txt;
	font-size: $li-txt;
}

